# **NHANES Data Analysis for Health and Nutrition Assessment**

### Characterization of the Dataset

##### Import Libraries

In [2]:
import pandas as pd

# Load the dataset
file_path = 'NHANESageprediction.csv'  # Update this with the correct file path
data = pd.read_csv(file_path)

In [3]:
# Displaying basic information about the dataset
print("Size of the dataset (rows, columns):", data.shape)
print("\nFirst five rows of the dataset:")
display(data.head().style.set_table_styles(
    [{'selector': 'th', 'props': [('font-size', '10pt')]}],
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
))

Size of the dataset (rows, columns): (2278, 10)

First five rows of the dataset: