# **NHANES Data Analysis for Health and Nutrition Assessment**

### Characterization of the Dataset

##### Import Libraries

In [2]:
import pandas as pd

# Load the dataset
file_path = 'NHANESageprediction.csv'  # Update this with the correct file path
data = pd.read_csv(file_path)

In [3]:
# Displaying basic information about the dataset
print("Size of the dataset (rows, columns):", data.shape)
print("\nFirst five rows of the dataset:")
display(data.head().style.set_table_styles(
    [{'selector': 'th', 'props': [('font-size', '10pt')]}],
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
))

Size of the dataset (rows, columns): (2278, 10)

First five rows of the dataset:

In [4]:
# Summary of data types and missing values
print("\nData Types and Missing Values:")
print(data.info())

Data Types and Missing Values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2278 entries, 0 to 2277
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SEQN       2278 non-null   float64
 1   age_group  2278 non-null   object
 2   RIDAGEYR   2278 non-null   float64
 3   RIAGENDR   2278 non-null   float64
 4   PAQ605     2278 non-null   float64
 5   BMXBMI     2278 non-null   float64
 6   LBXGLU     2278 non-null   float64
 7   DIQ010     2278 non-null   float64
 8   LBXGLT     2278 non-null   float64
 9   LBXIN      2278 non-null   float64
dtypes: float64(9), object(1)
memory usage: 178.1+ KB
None

In [5]:
# Number of unique values in each column
print("\nNumber of unique values in each column:")
print(data.nunique())

Number of unique values in each column:
SEQN         2278
age_group       2
RIDAGEYR       69
RIAGENDR        2
PAQ605          3
BMXBMI        340
LBXGLU        101
DIQ010          3
LBXGLT        232
LBXIN        1424
dtype: int64

In [6]:
# Summary statistics of the dataset
print("\nSummary statistics of the dataset:")
display(data.describe().style.set_table_styles(
    [{'selector': 'th', 'props': [('font-size', '10pt')]}],
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
))

Summary statistics of the dataset:

#### Data Cleaning and EDA

#### Step 1: Cleaning the Dataset

In [7]:
# Renaming columns for better readability
data.rename(columns={'SEQN': 'ID',
                     'RIDAGEYR': 'Age',
                     'RIAGENDR': 'Gender',
                     'PAQ605': 'PhysicalActivity',
                     'BMXBMI': 'BMI',
                     'LBXGLU': 'Glucose',
                     'DIQ010': 'Diabetes',
                     'LBXGLT': 'GlucoseTolerance',
                     'LBXIN': 'Insulin'}, inplace=True)

display(data.head().style.set_table_styles(
    [{'selector': 'th', 'props': [('font-size', '10pt')]}],
    [{'selector': 'td', 'props': [('text-align', 'center')]}]
))

In [8]:
# Handling Missing Data
data_cleaned = data.dropna()